#location
  .text
    %h2 Gdje se nalazimo
    %p Sastanci se održavaju u prostorijama HGK-a na Novoj Cesti 7.
  .pic
    =link_to image_tag('gmaps.png'), 'http://maps.google.com/maps?q=Nova+cesta+7+10000,+Zagreb,+Croatia&hl=en&sll=45.807428,15.954014&sspn=0.005108,0.011319&t=v&hnear=Nova+cesta+7,+10000,+Zagreb,+Croatia&z=16'