#location
  .text
    %h2 Gdje se nalazimo
    %p Sastanci se održavaju u prostorijama HGK-a na Novoj Cesti 7.
  .pic
    =link_to image_tag('gmaps.png'), 'https://maps.google.com/maps/ms?msid=204578265128657379678.0004c2e71a3a3d835508f&msa=0&dg=feature'