#location
  .text
    %h2 Gdje se nalazimo
    %p Sastanci se održavaju u ulici Andrije Žaje 10 u prostorijama tvrtke Infinum.
  .pic
    =link_to image_tag('gmaps.png'), 'http://maps.google.com/maps?q=Ulica+Andrije+%C5%BDaje+10,+Zagreb,+Hrvatska&hl=en&ie=UTF8&sll=45.791587,15.964637&sspn=0.009905,0.022638&oq=Andrije+%C5%BDaje+10&hnear=Ulica+Andrije+%C5%BDaje+10,+10000,+Zagreb,+Croatia&t=m&z=16'
