#meetup
  %h2 Što je meetup?
  %p
    Meetup je okupljanje developera (hr. razvojnika) koje se sastoji od druženja, predavanja ... and much much more?
  %p
    Teme su vezane uz razvoj web i mobilnih aplikacija u modernim tehnologijama sa krvavog ruba. Ako se palite na hajp termove poput: Rails, Django, Node, Backbone, Mongo, iOS, Android, Sencha Touch, Cofeescript ... bit će vam zanimljivo i na Code at Six druženjima.
  %p
    Ovim okupljanjem želimo širiti development community u Hrvatskoj, povezivati development profesionalce i entuzijaste te potaknuti razmjenu znanja, iskustava i prije spomenute pive.
  %p
    Također, preduvjet za sudjelovanje je da **mrzite** SVN.
  %p
    Infinum se preselio te se time i promijenilo mjesto održavanja- više o tome na
    = link_to 'lokaciji', '/location'
    \.

-if @meetup && !@meetup.report.present?
  #submissions
    %hr
    =render :partial => 'pages/submission', :locals => { :event => @meetup }
    .clearboth

  #talks
    %hr
    %h2
      O čemu ćemo pričati?
    = markdown @meetup.announcement

  #participants
    %hr
    =render :partial => 'pages/participants', :locals => { :event => @meetup }
-else @meetup
  #report
    = markdown @meetup.report
