.link
  %a{:href => 'https://twitter.com/#!/codeatsix', :target => '_blank'}
    Prati
    %strong @codeatsix
    na Twitteru

%div.or-ask
  ili nas

.link
  %a{:href => 'mailto:codeatsix@infinum.hr'}Pitaj kaj nije jasno

